*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
Prd Tdd Phase Coding Wa Ai Sales Agent.pdf
PRDTDD/wa_ai_sales_agent_markdown_pack/PHASE_CODE.md
PRDTDD/wa_ai_sales_agent_markdown_pack/PRD.md
PRDTDD/wa_ai_sales_agent_markdown_pack/TDD.md
